.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-family: "Roboto";
    align-items: center;

}

.logo {
    height: auto;
    width: 50px;
    padding-left: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 20px 0px;
}

.this-website-section {
    display: flex;
    flex-direction: column;
    width: 300px;
}

h1 {
   font-size: 48px;
   color: #f9faf8;
   font-weight: 900; 
   margin-bottom: 0;
}

.para-one {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.button-one {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-color: #3882f6;
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.img-background {
    width: 300px;
    box-sizing: border-box;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-background {
    width: 200px;
    height: auto;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.header-two {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.boxes {
    display: flex;
}

.mini-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.square {
    border: 5px solid blue;
    width: 100px;
    height: 100px;
}

#piece {
    margin-bottom: 32px;
}

.third-section {
    display: flex;
}

.fourth-section {
    display: flex;
}

.footer {
    display: flex;
}

body {
    margin: 0px;
}



