.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    font-family: "Roboto";
    align-items: center;

}

.logo {
    height: auto;
    width: 50px;
    padding-left: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
    color: white;
}

.first-section {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px 0px;
}

.this-website-section {
    display: flex;
    flex-direction: column;
}

h1 {
   font-size: 48px;
   color: #f9faf8;
   font-weight: 900; 
}

button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-color: white;
    padding: 2px 5px;
}

.img-background {
    box-sizing: border-box;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-background {
    width: 200px;
    height: auto;
}

.second-section {
    display: flex;
}

.third-section {
    display: flex;
}

.fourth-section {
    display: flex;
}

.footer {
    display: flex;
}

body {
    margin: 0px;
}



